<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funugame.parkour.dao.NoticeMapper">
	<cache eviction="LRU" flushInterval="86400000" size="10" readOnly="true" />

	<select id="selectList" parameterType="Notice" resultType="Notice">
		select *
		from notice where type=#{type} and now()&lt;endtime
		<if test="id!=null">
			 and id=#{id}
		</if>
		<if test="content!=null">
			 and content=#{content}
		</if>
		
	</select>
	
	<select id="selectNoticeList" parameterType="Notice" resultType="Notice">
		select *
		from notice where type=#{type}
		<if test="id!=null">
			 and id=#{id}
		</if>
		<if test="content!=null">
			 and content=#{content}
		</if>
		
	</select>
	
	<update id="update" parameterType="Notice">
		UPDATE notice
		set type=#{type}
		 <if test="content!=null"> ,content=#{content}</if>
		 <if test="tigger!=null"> ,tigger=#{tigger}</if>
		 <if test="repeatnum!=null"> ,repeatnum=#{repeatnum}</if>
		 <if test="scrolltime!=null"> ,scrolltime=#{scrolltime}</if>
		 <if test="intervaltime!=null"> ,intervaltime=#{intervaltime}</if>
		 <if test="iscycle!=null"> ,iscycle=#{iscycle}</if>
		 <if test="starttime!=null"> ,starttime=#{starttime}</if>
		 <if test="endtime!=null"> ,endtime=#{endtime}</if>
		WHERE type = #{type} and id=#{id}
	</update>
	
	<insert id="insert" parameterType="Notice">
		insert into notice(type,content,tigger,repeatnum,scrolltime,intervaltime,iscycle,starttime,endtime)  
		 values(2,#{content},#{tigger},#{repeatnum},#{scrolltime},#{intervaltime},#{iscycle},#{starttime},#{endtime})
	</insert>
	
	<delete id="delete" parameterType="Notice">
		delete from notice where id=#{id}
	</delete>

</mapper>