<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funugame.parkour.dao.StatMapper">
	<cache eviction="LRU" flushInterval="86400000" size="2048" readOnly="true" />

	<insert id="insertDefault" parameterType="int">
		INSERT INTO stat(uid) value(#{uid});
	</insert>
	<select id="selectOne" parameterType="int" resultType="UserStat">
		select *
		from stat where uid=#{uid}
	</select>
	
	<select id="getUserPropCount" parameterType="int" resultType="int">
		select usepropcount
		from stat where uid=#{uid}
	</select>
	
	<update id="addUsePropCount" parameterType="hashmap">
		UPDATE stat
		set usepropcount=usepropcount+#{usepropcount}
		WHERE uid = #{uid}
	</update>

</mapper>