<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funugame.parkour.dao.UserPetMapper">
	<cache eviction="LRU" flushInterval="86400000" size="6144" readOnly="true" />



	<select id="selectPetList" parameterType="UserPet" resultType="UserPet">
		select * from user_pet
		<where>
			uid=#{uid}
			<if test="id!=null"> and id=#{id}</if>
		</where>
	</select>
	<select id="selectList" parameterType="int" resultType="UserPet">
		select * from user_pet where uid=#{uid}
	</select>
	<insert id="insert" parameterType="UserPet">
		INSERT INTO
		user_pet(uid,id,level)
		values(#{uid},#{id},#{level})
	</insert>

	<update id="update" parameterType="UserPet">
		UPDATE user_pet
		<set>
			<if test="level != null">level = #{level}</if>
		</set>
		WHERE uid = #{uid} and id=#{id}
	</update>

	<delete id="delete" parameterType="UserPet">
		delete from user_pet WHERE uid = #{uid} and id=#{id}
	</delete>





</mapper>