<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funugame.parkour.dao.UserFeedBackMapper">
	<cache eviction="LRU" flushInterval="86400000" size="20" />

	<insert id="insert" parameterType="UserFeedBack">
		INSERT INTO
		user_feedback(uid,content,contacts)
		values(#{uid},#{content},#{contacts})
	</insert>

	<select id="queryList" parameterType="hashmap" resultType="UserFeedBack">
		SELECT
		a.id as id,
		a.uid as uid,
		a.content as content,
		a.contacts as contacts,
		a.reply as reply,
		a.rtime as rtime,
		b.rolename as rolename
		FROM
		user_feedback a,user_info b
		<where>
			a.uid=b.id and
		     <![CDATA[a.rtime>=date_format('${timeFrom}','%Y-%m-%d %H:%i') and a.rtime<=date_format('${timeTo}','%Y-%m-%d %H:%i')]]>
			<if test="reply!=0 ">
			  <if test="reply==2 ">and a.reply is not null</if>
			  <if test="reply==1 ">and a.reply is null</if>
			</if>
            <if test="devicetype != null ">and b.devicetype=#{devicetype}</if>
		</where>
	</select>
	<update id="updateReply" parameterType="string">
		update user_feedback set reply=#{reply} where id=#{id}
	</update>


</mapper>