<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funugame.parkour.dao.UserBestScoreMapper">
	<!-- <cache eviction="LRU" flushInterval="86400000" size="6144" readOnly="true" /> -->



	<insert id="insert" parameterType="int">
		INSERT INTO
		user_bestscore(uid)
		value(#{uid})
	</insert>


	<select id="getSubscenesRankScore"  parameterType="hashmap"  resultType="BestScore">
	 <![CDATA[ 
		select uid,score${chapterid},rank${chapterid},updaterank${chapterid}time
		from user_bestscore
		where
			Date(updaterank${chapterid}time)='${time}' and rank${chapterid}>0
		
		order by rank${chapterid} asc
		]]>
	</select>


	<select id="getScore" parameterType="hashmap" resultType="int">
		select ${score} as score from user_bestscore
		<where>
			uid=${uid}
		</where>
	</select>
	<update id="update" parameterType="BestScore">
		UPDATE user_bestscore
		<set>
			<if test="score1 != null">score1 = #{score1},</if>
			<if test="score2 != null">score2 = #{score2},</if>
			<if test="score3 != null">score3 = #{score3},</if>
			<if test="score4 != null">score4 = #{score4},</if>
			<if test="weekscore1 != null">weekscore1 = #{weekscore1},</if>
			<if test="weekscore2 != null">weekscore2 = #{weekscore2},</if>
			<if test="weekscore3 != null">weekscore3 = #{weekscore3},</if>
			<if test="weekscore4 != null">weekscore4 = #{weekscore4},</if>			
			<if test="dist1 != null">dist1 = #{dist1},</if>
			<if test="dist2 != null">dist2 = #{dist2},</if>
			<if test="dist3 != null">dist3 = #{dist3},</if>
			<if test="dist4 != null">dist4 = #{dist4},</if>
			totalscore=weekscore1+weekscore2+weekscore3+weekscore4,
			totaldist=dist1+dist2+dist3+dist4
		</set>
		<where>
			uid = #{uid}

			<if test="score1 != null"><![CDATA[and score1< #{score1}]]></if>
			<if test="score2 != null"><![CDATA[and score2< #{score2}]]></if>
			<if test="score3 != null"><![CDATA[and score3< #{score3}]]></if>
			<if test="score4 != null"><![CDATA[and score4< #{score4}]]></if>
			<if test="weekscore1 != null"><![CDATA[and weekscore1< #{weekscore1}]]></if>
			<if test="weekscore2 != null"><![CDATA[and weekscore2< #{weekscore2}]]></if>
			<if test="weekscore3 != null"><![CDATA[and weekscore3< #{weekscore3}]]></if>
			<if test="weekscore4 != null"><![CDATA[and weekscore4< #{weekscore4}]]></if>
		</where>
	</update>

	<!-- 由于mybatis缓存，rolename，age，cup，cuplevel将不会是最新的 -->
	<select id="getRankList" parameterType="hashmap" resultType="ScoreRankUser" statementType="STATEMENT">
	 <![CDATA[ 
		select a.uid,b.rolename,b.figureurl_qq,a.${score} as score,a.${dist} as dist,c.age,c.cup,c.cuplevel from user_bestscore a,user_info b ,user_vary c where a.uid=b.id and a.uid=c.uid order by a.${score} desc limit ${limit};
		]]>
	</select>

	<select id="getFriendRankList" parameterType="hashmap" resultType="ScoreRankUser" statementType="STATEMENT">
	 <![CDATA[ 
		select a.uid,b.rolename,b.figureurl_qq,a.${weekscore} as score,a.${dist} as dist,d.age,d.cup,d.cuplevel,c.result from user_bestscore a,user_info b,user_vary d,user_friend c where c.uid=${uid} and c.fuid=a.uid and c.fuid=b.id and c.fuid=d.uid order by a.${weekscore} desc;
		]]>
	</select>


	<update id="clearRank" parameterType="int">
		UPDATE user_bestscore set rank=0 where uid=#{uid} and rank>0
	</update>

	<update id="clearDayRank">
		UPDATE user_bestscore set score1=0,score2=0,score3=0
	</update>

	<update id="callScoreRank" statementType="CALLABLE">
		{call score_rank () }
	</update>

	<update id="callsubcenesranksrore" statementType="CALLABLE">
		{call subscenes_rankscore () }
	</update>

	<select id="getBiggerScoreUserList" parameterType="hashmap" resultType="BestScoreOne" statementType="STATEMENT">
	 <![CDATA[ 
		select uid,${score} as score,${dist} as dist from user_bestscore  where ${score}>0 and ${score}>(select ${score} from user_bestscore where uid=${uid})  order by ${score} limit ${limit};
		]]>
	</select>
	<select id="getSmallerScoreUserList" parameterType="hashmap" resultType="BestScoreOne" statementType="STATEMENT">
	 <![CDATA[ 
		select uid,${score} as score,${dist} as dist from user_bestscore  where ${score}>0 and ${score}<(select ${score} from user_bestscore where uid=${uid}) order by ${score} desc limit ${limit};
		]]>
	</select>
	<select id="getRank" parameterType="int" resultType="int">
		select rank from user_bestscore
		<where>
			uid=${uid}
		</where>
	</select>

</mapper>