<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funugame.parkour.dao.UserFriendMatchCountMapper">
	<cache eviction="LRU" flushInterval="86400000" size="6144" readOnly="true"/>



	<select id="selectOne" parameterType="int" resultType="UserFriendMatchCount">
		select * from user_friendmatchcount
		<where>
			uid=#{uid}
		</where>

	</select>

	<insert id="insert" parameterType="int">
		INSERT INTO
		user_friendmatchcount(uid)
		values(#{uid})
	</insert>

	<update id="clear" parameterType="int">
		update
		user_friendmatchcount
		set count=0
		<where>
			uid=#{uid}
		</where>
	</update>


	
	<update id="addCountOne" parameterType="int">
		update
		user_friendmatchcount
		set count=count+1
		<where>
			uid=#{uid}
		</where>
	</update>

	<update id="clearAll" >
	   TRUNCATE TABLE user_friendmatchcount;
	</update>
	
</mapper>