<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funugame.parkour.dao.UserInfoMapper">
	<cache eviction="LRU" flushInterval="86400000" size="6144" readOnly="true" />

	<parameterMap type="map" id="userIdMap">
		<parameter property="seq_uid" jdbcType="INTEGER" mode="OUT" />
	</parameterMap>
	
	<insert id="insert" parameterType="UserInfo">
		INSERT INTO
		user_info(id,platformid,account,rolename,password,md5key,openid,figureurl_qq,qqname,devicetype)
		value(#{id},#{platformid},#{account},#{rolename},#{password},#{md5key},#{openid},#{figureurl_qq},#{qqname},#{devicetype});

	</insert>
	<update id="update" parameterType="UserInfo">
		UPDATE user_info
		<set>
			<if test="account != null">account = #{account},</if>
			<if test="password != null">password = #{password},</if>
			<if test="rolename != null">rolename = #{rolename},</if>
			<if test="md5key != null">md5key = #{md5key},</if>
			<if test="openid != null">openid = #{openid},</if>
			<if test="figureurl_qq != null">figureurl_qq = #{figureurl_qq},</if>
			<if test="qqname != null">qqname = #{qqname},</if>
			<if test="devicetype != null">devicetype = #{devicetype},</if>
			<if test="seal_time != null">seal_time = #{seal_time}</if>
		</set>
		WHERE id = #{id}
	</update>
		
	<update id="initUser" parameterMap="userIdMap" statementType="CALLABLE" >
		{call initUser(?) }
	</update>


	<insert id="insertUserInfo" parameterType="UserInfo">
		INSERT INTO
		user_info(account,password,rolename)
		value(#{account},#{password},#{rolename});

	</insert>

	<select id="isUserExist" parameterType="int" resultType="boolean"> 
    <![CDATA[ select count(id) from user_info where id=#{uid} ]]>
	</select>

	<select id="selectOne" parameterType="UserInfo" resultType="UserInfo">
		select * from user_view where id=#{id}
	</select>

	<select id="selectOneUser" parameterType="hashmap" resultType="UserInfo">
		select * from user_info
		where
		id = #{id} and password = #{password}

	</select>
	<select id="selectOneQQUser" parameterType="hashmap" resultType="UserInfo">
		select * from user_info
		where
		openid = #{openid} and platformid = 1
	</select>


	<delete id="delete" parameterType="UserInfo">
		delete from user_info where id=#{id}
	</delete>

	<select id="selectUserInfoId" parameterType="UserInfo" resultType="UserInfo">
		select * from user_info
		<where>
			<if test="id != null"> id=#{id}</if>
			<if test="account != null"> or account = #{account}</if>
			<if test="rolename != null"> or rolename=#{rolename}</if>
			<if test="qqname != null"> or qqname = #{qqname}</if>
		</where>
	</select>
	
	<select id="gameSelectUserInfoId" parameterType="UserInfo" resultType="UserInfo">
		select * from user_info
		<where>
			 <if test="id != null"> id=#{id} </if>
			 <if test="rolename !=null">  or rolename = #{rolename}</if>
			 <if test="devicetype != null "> and devicetype=#{devicetype}</if>
		</where>
	</select>

	<insert id="insertUserVary" parameterType="UserVary">
		INSERT INTO
		user_vary(uid,exp,age,gold,diamond,strength,honour)
		value(#{uid},#{exp},#{age},#{gold},#{diamond},#{strength},#{honour})
	</insert>



</mapper>